<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="GET" action="/ucenikoveOcene">
            <label for="imePrezime">Ime i prezime</label>
            <input type="text" id="imePrezime" name="imePrezime">
            <input type="submit" value="posalji">
        </form>
    </div>
</body>
</html>