h2::before, h2::after{
    content:url('left.gif');
    height:40px;
}
h2{
    display:block;
    margin:auto;
}

.block{
    height: 100px;
    width: 400px;
    border-radius: 15px;
    border: green 2px solid;
}

table{
    margin:auto;
}

td{
    border: 1px white solid;
    background-color: rgb(156, 221, 156);
}

#separator{
    width:100%;
    height:30px;
    background-image:url('ball.png');
    background-repeat: repeat-x;
    background-size: contain;
}

input{
    margin-bottom: 10px;
}
input[type="submit"]{
    width: 500px;
}
input[type="number"]{
    width: 40px;
}